* {
margin: 0;
padding: 0;
}

.inline{

	font-weight: bold;
	font-size: 16pt;

}


.logo {
	display: inline-block;
	background-color: #EDEDED;
	width: 100%;
	
}

nav {

	background-color: #653D3D;
	width: 100%;
	height: 50px;
}

nav ul li {
	list-style-type: none;
	width: 150px;
	float: left;
}

nav ul li a {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 50px;
	margin-left: 10px;
}

.first {
	
	text-align: center;
	margin-top: 15px;
	
}

.blog{
	background-color: #978484;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	width: 100%;
	height: 25pt;
	line-height: 30px;
	margin-top: 10px;
}

.margin{
	margin-left: 10pt;
}

.img{
	
	height: 200px;

}

.scooter{
	
	height: 200px;
	
}

.devices{
	height: 200px;
}

.atm{

	height: 200px;
}

.pic{
	font-size: 10pt;
	 display: inline-block;
	 margin-top: 30px;
	 margin-left: 150px;
	 font-weight: bold;
	 font-family: arial;
}

.pic2 {
	 display: inline-block;
	 margin-top: 30px;
	 margin-left: 150px;
	 font-weight: bold;
	 font-family: arial;
	 font-size: 10pt;
}

.line{
	width: 100%;
	margin-top: 50px;
	height: 10px;
	background-color: #978484;
}

.finito{

	height: 100px;
}
.fo{
	margin-top: 30px;
	text-align: center;
}

.jea{
	margin-top: 10px;
	margin-bottom: 20px;
}